/* Reset */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  scroll-behavior: smooth;
}
.hero-section{
            background-image: url('yg.jpeg'); background-size: cover; background-repeat: no-repeat;
        }
/* Navbar */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1em 0;
  margin: 0;
}

#navbar ul li {
  margin: 0 20px;
}

#navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px;
  transition: color 0.3s, border-bottom 0.3s;
}

#navbar ul li a:hover {
  color: #f39c12;
  border-bottom: 2px solid #f39c12;
}

#navbar.scrolled {
  background-color: #222;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Page Content */
.content {
  padding-top: 80px;
}

section {
  padding: 60px 20px;
  min-height: 100vh;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ccc;
}

section:nth-child(even) {
  background-color: #e0e0e0;
}

.hero-section {
  background: linear-gradient(to right, #ffe5ec, #ffdde1);
  text-align: center;
}

h2 {
  margin-top: 0;
}

ul {
  list-style: circle inside;
  padding-left: 20px;
}

.product-category {
  margin-bottom: 20px;
}
